# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.whl

# Virtual environments
.venv/
venv/
env/

# Distribution / packaging
MANIFEST

# PyInstaller
*.spec

# Unit test / coverage
.coverage
htmlcov/
.tox/
.pytest_cache/

# IDEs
.vscode/
.idea/
*.suo
*.user

# OS
.DS_Store
Thumbs.db
